[submodule "progressbar"]
	path = scripts/mpv-progressbar
	url = https://github.com/torque/mpv-progressbar.git
	branch = build
[submodule "SSimSuperRes"]
	path = shaders/mpv-ssimsuperres
	url = https://gist.github.com/2364ffa6e81540f29cb7ab4c9bc05b6b.git